* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* Sección navbar */
.fondoNav {
  background-color: #1c1c1c;
}

/* Home */

.titleHome {
  background: rgb(255, 0, 0);
  border-radius: 20px;
  padding: 6px 9px;
}
.top-title-table {
  border-radius: 7px;
  background-color: red;
}

/* imagenes del home */
.img-fluid {
  width: 650px;
  height: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.img-topm {
  transition-property: filter;
  transition-duration: 0.3s;
}

.img-topm:hover {
  transform: scale(1.05);
  filter: grayscale(1);
}

/* texto del home */
.capa {
  z-index: 1;
  padding: 1px;
  background: red;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

/* tabla del home */
.btn-irRegistro {
  background-color: red;
  color: white;
}
.discord {
  width: 100%;
  height: 350px;
}
.facebook {
  width: 100%;
  height: 474px;
}
.title-top {
  border-radius: 7px;
}

/* Fin del Home */

/* Registro */
.fondo-registro {
  background-color: rgb(36, 36, 36);
}

.cardLib {
  background-color: rgb(36, 36, 36);
  margin-top: 70px;
  margin-bottom: 150px;
  padding-top: 50px;
  padding-bottom: 40px;
}
/* Fin de Registro */

/* Sección biblioteca */
@media (max-width: 768px) {
  .tableBiblioteca {
    width: 100%;
  }
  .tableBiblioteca tr {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0);
    padding: 1em;
    margin-bottom: 2em;
  }
}
/* Fin de Sección biblioteca */

/* Sección login */
.formulario {
  width: 50%;
}

@media (max-width: 360px) {
  .formulario {
    width: 90%;
  }
}

.registroLogin {
  width: 70%;
}
/* Fin login */

/* Contacto */

textarea.form-control::placeholder {
  color: rgb(146, 146, 146);
}

.form-hr {
  width: 30%;
  height: 10px;
  border: none;
  margin-left: 0;
  background-color: #dc3545;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  height: 25%;
}

.contact-img {
  background-image: url(./img/contact_img.png);
  background-repeat: no-repeat;
  background-image: fixed;
  background-image: center;
  background-size: contain;
  background-position: center;
  height: 75%;
}
.contact-map {
  height: 75%;
}

.contact-first-col {
  height: 600px;
}

@media (max-width: 770px) {
  .contact-first-col {
    margin-bottom: 50px;
  }
}

@media (min-width: 770px) {
  .contact-first-col {
    height: auto;
  }
}

@media (min-width: 990px) {
  .contact-img {
    height: 100%;
  }

  .contact-info {
    margin-top: 10%;
  }

  .contact-map {
    height: 100%;
  }
}

/* Fin de contacto */

/* Sección footer */
.footer-pagina {
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #1c1c1c;
  color: white;
}

/*About*/
.img-avatarabout {
 
  border: 2px solid rgb(255, 0, 0);
  ;
}

.img-avatarabout:hover{
  opacity: 0.5;
}

b{
  color: rgb(255, 0, 0);

}