/* Sección navbar */
.fondoNav{
    background-color: #1C1C1C;
}

/* Home */

.img-topm {
    width: 650px;
    height: 1000;
    transition-property: filter;
    transition-duration: 0.3s;
  }
  
  .img-topm:hover {
    transform: scale(1.05);
    filter: grayscale(1)
  }

  .titleHome{
      background: rgb(255, 0, 0);
      border-radius: 20px;
      padding:6px 9px ;
     
  }

  .tableH-Title{
      background-color: red;
  }
/* Fin del Home */




/* Registro */
.fondo-registro{
    background-color: rgb(36, 36, 36) ;
}

.cardLib{
    background-color: rgb(36, 36, 36);
    margin-top: 70px;
    margin-bottom: 150px;
    padding-top:50px ;
    padding-bottom: 40px;
   

}
/* Fin de Registro */

/* Sección biblioteca */
@media (max-width: 768px) {
   
  
    .tableBiblioteca {
        
      width: 100%;
    }
    .tableBiblioteca tr {
      display: flex;
      justify-content: center;
      flex-direction: column;
      border: 1px solid rgb(0, 0, 0);
      padding: 1em;
      margin-bottom: 2em;
      
    }
  }
/* Fin de Sección biblioteca */

/* Sección login */
.formulario{
    width: 40%;
}
/* Fin login */

/* Sección footer */
.footer-pagina{
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1C1C1C;
    color: white;
}
